$primary-color: rgb(128, 59, 188);
$secondary-color: rgb(165, 104, 219);
$shadow-color:rgb(152, 138, 164);
$black: #040f16;
$white: white;
$grey:rgb(205, 191, 218);
$dark-grey:rgb(79, 74, 83);
$background:rgb(206, 158, 245);


$ipad-breakpoint: 768px;